@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 14px;
    color: hsl(158, 36%, 37%);
}
body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 650px;
    height: 490px;
    background-color: white;
    display: flex;
    border-radius: 0.75rem;
}
.container > img{
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}
.container > .text-wrap{
    padding: 35px;
}
.container > .text-wrap > h2{
    color: hsl(228, 12%, 48%);
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}
.container > .text-wrap > h1{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    margin: 30px 0;
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.container > .text-wrap > p{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}
.container > .text-wrap > .price{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 30px 0;
}
body > div > div > div > p:nth-child(1){
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2.1rem;
}
body > div > div > div > p:nth-child(2){
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
}
.container > .text-wrap > button{
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    padding: 15px 0;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container > .text-wrap > button:hover{
    background-color: hsl(159, 48%, 23%);
    cursor: pointer;
}
.mobile-img{
    display: none;
}
@media (max-width:750px) {
    body > div > img:nth-child(2){
        display: none;
    }
    .mobile-img{
        display: block;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container{
        flex-direction: column;
        margin: 5%;
        height: fit-content;
    }
    .container > img{
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.75rem;
    }
}